<!-- -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>{{specifika_pass[0][0].passets_namn}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {{ bootstrap.load_css()}}
    {% from "bootstrap5/form.html" import render_form %}
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

<nav class="navbar navbar-light bg-light mb-3">
  <a class="navbar-brand" href={{url_for("hem")}}>
    Hem
  </a>
<!--
    <div class="navbar-text mb-0">
    <h6>{{specifika_pass[0][0].passets_namn}}</h6>
    </div> -->
</nav>



{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-primary fade show alert-dismissible" role="alert">
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    {% endif %}
{% endwith %}
</ul>


</div>
    {% set starttid_för_strukturera = {"starttid": "_", "sluttid": "-"} %}
    {% for passet in specifika_pass%}
    {% set passet = passet[0]%}



    {% if not passet.anlänt and not passet.avslutat  %}

        {% if starttid_för_strukturera.starttid != passet.starttid_timme|string+":"+passet.starttid_minut|string %}
        <p class="ny_tid">{{"{:02d}".format(passet.starttid_timme)|string+":"+"{:02d}".format(passet.starttid_minut)|string}}</p>
        {% set ny_starttid = passet.starttid_timme|string+":"+passet.starttid_minut|string %}
        {% if starttid_för_strukturera.update({"starttid": ny_starttid}) %} {% endif %}
        {% endif %}
        <div class="card w-75 mx-auto bg-light position-relative">

        {% elif passet.avslutat %}
        <div class="card w-75 mx-auto card_avslutat">

            {% elif passet.anlänt %}
                {% if starttid_för_strukturera.sluttid != passet.sluttid_timme|string+":"+passet.sluttid_minut|string %}
                <p class="ny_tid">{{"{:02d}".format(passet.sluttid_timme)|string+":"+"{:02d}".format(passet.sluttid_minut)|string}}</p>
                {% set ny_sluttid = passet.sluttid_timme|string+":"+passet.sluttid_minut|string %}
                {% if starttid_för_strukturera.update({"sluttid": ny_sluttid}) %} {% endif %}
                {% endif %}
                <div class="card w-75 mx-auto card_påbörjat">
                    {% endif %}

<!-- Personernas kort -->
  <div class="card-body">
    <h2 class="card-title">{{passet.arbetarens_namn}}</h2>
      <div class="row">
          <div class="col-3">
              <p class="card-text mb-1"><u>Starttid</u></p>
              <em>{{"{:02d}".format(passet.starttid_timme)}}:{{"{:02d}".format(passet.starttid_minut)}}</em>
              <p class="card-text mt-2 mb-1"><u>Sluttid</u></p>
              <em>{{"{:02d}".format(passet.sluttid_timme)}}:{{"{:02d}".format(passet.sluttid_minut)}}</em>
          </div>
          <div class="col-3">
              <p class="card-text mb-1"><u>Anlände</u></p>
                  <em>{% if passet.instämplad_timme %}{{"{:02d}".format(passet.instämplad_timme)}}:{{"{:02d}".format(passet.instämplad_minut)}}{%else%}
                      <p>   </p>{% endif %}</em>
              <p class="card-text mt-2 mb-1"><u>Gick</u></p>
                    <em>{% if passet.utstämplad_minut %}{{"{:02d}".format(passet.utstämplad_timme)}}:{{"{:02d}".format(passet.utstämplad_minut)}}{% endif %}</em>
          </div>

          <!--Stämpla in -->
          <div class="col-6">
              <div class="form">
                  <form method="POST", action={{url_for("stämpla_in", id=passet.id)}}>
                      <input class="mb-4" style='width:2em' type="number" name="timme" value={{passet.starttid_timme}}> :
                      <input style='width:2em' type="number" name="minut" value={{passet.starttid_minut}}>
                      <input type="hidden" name="passets_namn" value={{passet.passets_namn}}>
                      <button class="btn btn-dark" type="submit">Ok</button>
                  </form>
              </div>
              <div class="form">
                  <form method="POST", action={{url_for("stämpla_ut", id=passet.id)}}>
                      <input style='width:2em' type="number" name="timme" value={{passet.sluttid_timme}}> :
                      <input style='width:2em' type="number" name="minut" value={{passet.sluttid_minut}}>
                      <input type="hidden" name="passets_namn" value={{passet.passets_namn}}>
                      <button class="btn btn-dark" type="submit">Ok</button>
                  </form>
              </div>
          </div>
    </div>


      <!--Stämpla ut -->

      <hr/>
      <div class="row">
          <div class="col-4">
              <p><i>Kommentar:{% if passet.kommentar %}
                  <br>
                  {% for kommentar in passet.kommentar.split("(nyy)") %}
                  &#x2022 {{ kommentar }}
                  <br>
                  {% endfor %}
                  {% endif %}
              </i></p>

          </div>
          <div class="col-8">
              <div class="input-group">
                  <form method="POST", action={{url_for("addcomment")}}>
                      <input class="form-control" name="kommentar" type="text" placeholder="Lägg till kommentar..." required>
                      <div class="input-group-append">
                          <button class="btn btn-outline-dark kommentar-btn mt-2" type="submit"> Kommentera </button>
                      </div>
              <input type="hidden" name="personens_id" value={{passet.id}}>
              <input type="hidden" name="passets_namn" value={{passet.passets_namn}}>
          </form>
      </div>

          </div>
      </div>


      <a href={{url_for("delete", id=passet.id, passets_namn=passet.passets_namn)}} class="color-danger text-right position-absolute top-0 end-0" ><img src="/static/delete.png" width="17"></a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
 {% endfor %}
<body>
<div class="card text-center w-75 mx-auto border-0">

  <div style="background-color: #e6f3ff" class="card-body">
    <a href={{url_for("adda", passet=specifika_pass[0][0].passets_namn)}} class="btn btn-primary stretched-link btn-lg btn-default btn-block"><h5>Lägg Till Personer</h5></a>
  </div>

</div>
</body>
</html>